.header {
    width: 100%;
    height: 200px;
    background: white;
    border: solid black;
    margin-bottom: 20px;
}

.purple-rectangle {
    background: purple;
    height: 75%;
    width: 50px;
    margin-top: 35px;
    margin-left: 15px;
    float: left;
    
}

.green-rectangle {
    background: green;
    width: 40%;
    height: 85%;
    margin-top: 15px;
    margin-left: 60px;
    float: left;
}

.blue-circle {
    background: lightblue;
    padding: 20px;
    margin: 20px;
    border: 10px;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
}

.main-section {
    width: 100%;
    height: 300px;
    border: dotted black;
    margin-bottom: 20px;
}
.main-content {
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    background: lightyellow;
    box-shadow: 10px 10px 10px black;
    
    
}
.footer {
    width: 50%;
    height: 300px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 40px;
    box-shadow: 5px 5px 5px grey;
}